---
layout: layouts/home.njk
permalink: /tools/
eleventyNavigation:
  key: Tools
  order: 5
---

<h1>Tools</h1>


<ul class="postlist">
{% for post in collections.tools %}
  <li><a href="{{ post.url | url }}" class="postlist-link">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ul>
