
<div id="jsorgcomments">&nbsp;</div>

<script>
(function () {
"use strict";

function inject_comments() {
	let script = document.createElement( "script" );

	script.src = "https://utteranc.es/client.js";
	script.defer = true;
	script.setAttribute( "repo", "josephscott/site-josephscott.org" );
	script.setAttribute( "issue-term", "pathname" );
	script.setAttribute( "label", "comments" );
	script.setAttribute( "theme", "github-light" );
	script.setAttribute( "crossorigin", "anonymous" );

	let target = document.querySelector( "#jsorgcomments" );
	target.appendChild( script );
}

if ( "IntersectionObserver" in window ) {
	let obs_target = document.querySelector( "#jsorgcomments" );
	let observer = new IntersectionObserver( ( element ) => {
		element.forEach( ( el ) => {
			if ( el.isIntersecting ) {
				inject_comments();
				observer.unobserve( obs_target );
			}
		} );
	}, {
		rootMargin: "750px"
	} );
	observer.observe( obs_target );
} else {
	inject_comments();
}

})();
</script>
