
<style>
.contact-me {
	float: left;
	padding-right: 30px;
	text-align: center;
}
.contact-me img {
	border-radius: 20px;
	box-shadow:
		0 0.3px 2.1px rgba(0, 0, 0, 0.077),
		0 0.8px 4.8px rgba(0, 0, 0, 0.112),
		0 1.5px 8.7px rgba(0, 0, 0, 0.138),
		0 2.4px 14.5px rgba(0, 0, 0, 0.162),
		0 4px 23.8px rgba(0, 0, 0, 0.188),
		0 6.9px 41.6px rgba(0, 0, 0, 0.223),
		0 15px 90px rgba(0, 0, 0, 0.3)
	;
	margin: 20px;
}
.contact-me a:hover {
	background-color: #fff;
}

@media ( max-width: 850px ) {
	#about-text {
		clear: both;
	}
}
</style>

<div class="contact-me">
	<img title="Joseph Scott" alt="Joseph Scott" src="/images/joseph-scott-600.jpg" width="200" height="200" />
</div>

<div id="about-text">

<p>
By day ( and sometimes night ) I lead the performance team at <a href="https://automattic.com/">Automattic</a>.  My wife and I try to keep up with our four kids, living along the Wasatch Front in Utah.  From time to time you'll find me writing on what ever I find interesting at <a href="https://josephscott.org/">josephscott.org</a>.
<p>

<p>
You are welcome to contact me via email at <a title="joseph@josephscott.org" href="mailto:joseph@josephscott.org">joseph@josephscott.org</a>.
</p>

<p>
Other ways you might want to follow me:

<ul>
	<li><a target="_blank" rel="noreferrer nofollow" href="https://twitter.com/josephscott">https://twitter.com/josephscott</a></li>
	<li><a target="_blank" rel="noreferrer nofollow" href="https://github.com/josephscott">https://github.com/josephscott</a></li>
	<li><a target="_blank" href="https://josephscott.org/index.xml">https://josephscott.org/index.xml</a> ( RSS Feed )</li>
</ul>
</p>

<h2>Recent Posts</h2>
<hr class="line" />

{{ range first 15 ( where .Site.RegularPages "Type" "posts" ) }}
	{{ partial "list-posts.html" . }}
{{ end }}

</div>
